<style>
    .background {
        background-image: linear-gradient(to right, black, rgb(90, 93, 233));
        background-size: cover;
        height: 275vh;
        display: flex;
        flex-direction: column;
        padding: 0%;
        justify-content: top;
    }
    div {
        color:white;
    }
    h1 {
        color:black;
    }
    .lead {
        color:black;
        font-size:large;
    }
    
</style>
<body class="background">
<div class="jumbotron">
    <h1>Grandma's Recipe Box</h1>
    <p class="lead">Welcome to the place where Grandma's Recipe Box goes to the future!</p>
    <p></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Project Inspiration</h2>
        <p>This project was inspired by the desire to cook a variety of foods, but with the simplicity of using a one stop solution in the form of an app.</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Features</h2>
        <p>Add a brand new recipe in just a few steps! Need to change the recipe a little? No problem, quickly and easily make changes to your recipe.</p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Even More Features!</h2>
        <p>Did the recipe not feed enough? Or did it seem too tomato-ey? Add a comment to your recipe for future reference!</p>
        <p></p>
    </div>
</div>
</body>